RewriteEngine on

#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://www.meucaslav.cz/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^meucaslav.cz
RewriteRule (.*) https://www.meucaslav.cz/$1 [R=301,L]

#Header set Access-Control-Allow-Origin: https://www.meucaslav.cz

RewriteRule ^admin\/?(.*) - [L]
RewriteRule ^install\/?(.*) - [L]
RewriteRule ^lib\/(.*) - [L]

RewriteRule files\/tinymce\/([a-z0-9\-\_]+\..*)$ - [L,QSA]
RewriteRule files\/download\/([a-z0-9\-\_]+\..*)$ lib/service/file.php?file=$1 [L,QSA]
RewriteRule files\/([a-z0-9]+)\/([a-z0-9\-\_]+\.(jpg|jpeg|gif|png|svg))$ lib/service/image.php?size=$1&file=$2 [L,QSA]
RewriteRule ^sitemap.xml$ lib/service/sitemap.php [L,QSA]
RewriteRule ^rss.xml$ lib/service/rss.php [L,QSA]

RewriteCond %{REQUEST_URI} (\.[a-zA-Z]+)$
RewriteRule ^(.*)$ - [L]

RewriteCond %{HTTP_HOST} ^www.jirisebek.com
RewriteRule ^(([a-z]{2})\/)?((ajax)\/)?(.*)\/page\-([0-9]+)\/?$ index.php?lang=en&ajax=$4&path=$5&page=$6 [L,QSA]
RewriteCond %{HTTP_HOST} ^www.jirisebek.com
RewriteRule ^(([a-z]{2})\/)?((ajax)\/)?(.*)\/?$ index.php?lang=en&ajax=$4&path=$5 [L,QSA]

RewriteRule ^(([a-z]{2})\/)?((ajax)\/)?(.*)\/page\-([0-9]+)\/?$ index.php?lang=$2&ajax=$4&path=$5&page=$6 [L,QSA]
RewriteRule ^(([a-z]{2})\/)?((ajax)\/)?(.*)\/?$ index.php?lang=$2&ajax=$4&path=$5 [L,QSA]
