                    <h6>Annexe 1.12: Mobilising Futures (5/7)</h6>
                    <h1><b>Target Groups</b></h1>
                    <div class="oracle-form">
                        <form action="" method="post">
                            <h3>Q1: Use 1 to 5 stars (<span class="stars">*****</span>) to indicate how the following groups have been targeted by the study.
                                Please use the checkboxes to indicate relevant sub-categories.</h3>
                            <div class="table-wrapper">
                                <table>
                                    <col />
                                    <col style="width:160px" />
                                    <thead>
                                        <tr>
                                            <th class="t-l">Group (and sub-categories selection)</th>
                                            <th>Relev. &nbsp;low <span class="divider">&rsaquo;</span> high</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="group-subcat" colspan="2">
                                                <b style="font-size:14px;line-height:22px">Public organisations</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Public corporations and national industries</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="public1"{if $form.public1 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="public1"{if $form.public1 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="public1"{if $form.public1 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="public1"{if $form.public1 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="public1"{if $form.public1 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="public1"{if $form.public1 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Government departments or ministries</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="public2"{if $form.public2 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="public2"{if $form.public2 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="public2"{if $form.public2 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="public2"{if $form.public2 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="public2"{if $form.public2 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="public2"{if $form.public2 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Government agencies</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="public3"{if $form.public3 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="public3"{if $form.public3 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="public3"{if $form.public3 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="public3"{if $form.public3 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="public3"{if $form.public3 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="public3"{if $form.public3 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Local authorities</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="public4"{if $form.public4 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="public4"{if $form.public4 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="public4"{if $form.public4 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="public4"{if $form.public4 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="public4"{if $form.public4 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="public4"{if $form.public4 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Parliament</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="public5"{if $form.public5 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="public5"{if $form.public5 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="public5"{if $form.public5 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="public5"{if $form.public5 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="public5"{if $form.public5 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="public5"{if $form.public5 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat" colspan="2">
                                                <b style="font-size:14px;line-height:22px">Research and education organisations</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Research funding organisations, e.g. research councils</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="reo1"{if $form.reo1 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="reo1"{if $form.reo1 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="reo1"{if $form.reo1 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="reo1"{if $form.reo1 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="reo1"{if $form.reo1 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="reo1"{if $form.reo1 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Public research organisations (non-HEI)</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="reo2"{if $form.reo2 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="reo2"{if $form.reo2 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="reo2"{if $form.reo2 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="reo2"{if $form.reo2 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="reo2"{if $form.reo2 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="reo2"{if $form.reo2 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Private research and innovation support organisations</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="reo3"{if $form.reo3 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="reo3"{if $form.reo3 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="reo3"{if $form.reo3 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="reo3"{if $form.reo3 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="reo3"{if $form.reo3 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="reo3"{if $form.reo3 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Higher education institutions (HEI)</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="reo4"{if $form.reo4 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="reo4"{if $form.reo4 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="reo4"{if $form.reo4 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="reo4"{if $form.reo4 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="reo4"{if $form.reo4 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="reo4"{if $form.reo4 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Primary and secondary schools</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="reo5"{if $form.reo5 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="reo5"{if $form.reo5 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="reo5"{if $form.reo5 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="reo5"{if $form.reo5 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="reo5"{if $form.reo5 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="reo5"{if $form.reo5 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat" colspan="2">
                                                <b style="font-size:14px;line-height:22px">Private organisations</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">SMEs (Consultancies and IT services)</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="private1"{if $form.private1 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="private1"{if $form.private1 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="private1"{if $form.private1 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="private1"{if $form.private1 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="private1"{if $form.private1 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="private1"{if $form.private1 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Large corporations / transnational companies (TNC)</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="private2"{if $form.private2 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="private2"{if $form.private2 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="private2"{if $form.private2 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="private2"{if $form.private2 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="private2"{if $form.private2 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="private2"{if $form.private2 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Associations representing commercial interests (trade bodies, chambers of commerce)</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="private3"{if $form.private3 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="private3"{if $form.private3 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="private3"{if $form.private3 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="private3"{if $form.private3 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="private3"{if $form.private3 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="private3"{if $form.private3 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat" colspan="2">
                                                <b style="font-size:14px;line-height:22px">European Union</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">European Commission</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="eu1"{if $form.eu1 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="eu1"{if $form.eu1 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="eu1"{if $form.eu1 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="eu1"{if $form.eu1 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="eu1"{if $form.eu1 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="eu1"{if $form.eu1 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">European Parliament</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="eu2"{if $form.eu2 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="eu2"{if $form.eu2 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="eu2"{if $form.eu2 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="eu2"{if $form.eu2 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="eu2"{if $form.eu2 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="eu2"{if $form.eu2 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Other EU bodies/agencies</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="eu3"{if $form.eu3 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="eu3"{if $form.eu3 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="eu3"{if $form.eu3 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="eu3"{if $form.eu3 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="eu3"{if $form.eu3 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="eu3"{if $form.eu3 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">
                                                <b style="font-size:14px;line-height:22px">International organisations (OECD, UNESCO, UNIDO, etc.)</b>
                                            </td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="international"{if $form.international == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="international"{if $form.international == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="international"{if $form.international == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="international"{if $form.international == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="international"{if $form.international == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="international"{if $form.international == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">
                                                <b style="font-size:14px;line-height:22px">Non-governmental, not for profit, organisations (NGO)</b>
                                            </td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="nongovern"{if $form.nongovern == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="nongovern"{if $form.nongovern == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="nongovern"{if $form.nongovern == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="nongovern"{if $form.nongovern == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="nongovern"{if $form.nongovern == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="nongovern"{if $form.nongovern == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat" colspan="2">
                                                <b style="font-size:14px;line-height:22px">Media</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Corporate media</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="media1"{if $form.media1 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="media1"{if $form.media1 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="media1"{if $form.media1 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="media1"{if $form.media1 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="media1"{if $form.media1 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="media1"{if $form.media1 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Community/alternative media</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="media2"{if $form.media2 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="media2"{if $form.media2 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="media2"{if $form.media2 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="media2"{if $form.media2 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="media2"{if $form.media2 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="media2"{if $form.media2 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">
                                                <b style="font-size:14px;line-height:22px">Civil society</b>
                                            </td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="civil"{if $form.civil == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="civil"{if $form.civil == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="civil"{if $form.civil == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="civil"{if $form.civil == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="civil"{if $form.civil == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="civil"{if $form.civil == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">
                                                <label for="input-1-1-1-7-1" style="padding:0"><b>Other, briefly specify</b> (max 140 chars.):
                                                    <br /><input type="text" class="additional" maxlength="140" id="input-1-1-1-7-1" style="width:470px;margin-top:4px;font-size:14px;font-weight:bold" value="{$form.other_name}" />
                                                    <span class="counter">{$form.other_name|count_characters:true}</span></label>
                                            </td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="other"{if $form.other == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="other"{if $form.other == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="other"{if $form.other == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="other"{if $form.other == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="other"{if $form.other == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="other"{if $form.other == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                    <tr>
                                        <th colspan="2" class="t-l notice">
                                            <div class="f-l" style="padding-right:18px">
                                                <span class="stars">*</span> = none/very low<br />
                                                <span class="stars">**</span> = low<br />
                                                <span class="stars">***</span> = moderate<br />
                                                <span class="stars">****</span> = high<br />
                                                <span class="stars">*****</span> = very high
                                            </div>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>