                    <h6>Annexe 1.11: Mobilising Futures (4/7)</h6>
                    <h1><b>Cooperation and Networking</b></h1>
                    <div class="oracle-form">
                        <form action="" method="post">
                            <h3>Q1: Please list up to 10 initiatives involved in cooperation and networking activities supporting the 5 phases of the FLA process.</h3>
                            <div class="table-wrapper">
                                <table>
                                    <col style="" />
                                    <col style="" />
                                    <col style="width:10%" />
                                    <col style="" />
                                    <col style="width:8%" />
                                    <col style="width:60px" />
                                    <col style="width:34px;background:#F4F4F4" />
                                    <col style="width:34px;background:#F4F4F4" />
                                    <col style="width:34px;background:#F4F4F4" />
                                    <col style="width:34px;background:#F4F4F4" />
                                    <col style="width:34px;background:#FFFFD6" />
                                    <col style="width:34px;background:#FDF2FF" />
                                    <col style="width:34px;background:#DCF7FF" />
                                    <col style="width:34px;background:#CFFFFF" />
                                    <col style="width:34px;background:#B2ECFF" />
                                    <tr>
                                        <th rowspan="2">Initiative Acronym</th>
                                        <th rowspan="2">Initiative Website</th>
                                        <th rowspan="2">Leading Institution</th>
                                        <th rowspan="2">Contact Person</th>
                                        <th rowspan="2">E-Mail</th>
                                        <th rowspan="2">Country</th>
                                        <th colspan="4">Type of Involvement *</th>
                                        <th colspan="5">Phases of the FLA Being Supported&nbsp;**</th>
                                    </tr>
                                    <tr>
                                        <th title="joint knowledge production">JKP</th>
                                        <th title="information and infrastructure sharing">IIS</th>
                                        <th title="networking">Net</th>
                                        <th title="other">O</th>
                                        <th title="scoping" style="background:#FFFEA1" class="smart">S</th>
                                        <th title="mobilising" style="background:#FBE1FE" class="smart">M</th>
                                        <th title="anticipating" style="background:#B0EDFF" class="smart">A</th>
                                        <th title="recommending" style="background:#91FFFE" class="smart">R</th>
                                        <th title="transforming" style="background:#50D3FF" class="smart">T</th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="by-cell additional" name="acronym_1" value="{$form.acronym_1}" /></td>
                                        <td><input type="text" class="by-cell additional" name="website_1" value="{$form.website_1}" /></td>
                                        <td><input type="text" class="by-cell additional" name="institution_1" value="{$form.institution_1}" /></td>
                                        <td><input type="text" class="by-cell additional" name="email_1" value="{$form.email_1}" /></td>
                                        <td><input type="text" class="by-cell additional" name="contact_1" value="{$form.contact_1}" /></td>
                                        <td>
                                            <select name="country_1" style="width:42px;">
                                                <option value=""></option>
{foreach from=$cols[53].param.values key=key item=value}
                								<option value="{$key}"{if $form.country_1 == $key} selected="selected"{/if}>{$cols[56].param.values[$key]} - {$value}</option>
{/foreach}
                                            </select>
                                        </td>
                                        <td><input type="checkbox" name="jkp_1" value="1"{if $form.jkp_1 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="iis_1" value="1"{if $form.iis_1 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="net_1" value="1"{if $form.net_1 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="other_1" value="1"{if $form.other_1 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="scoping_1" value="1"{if $form.scoping_1 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="mobilising_1" value="1"{if $form.mobilising_1 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="anticipating_1" value="1"{if $form.anticipating_1 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="recommending_1" value="1"{if $form.recommending_1 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="transforming_1" value="1"{if $form.transforming_1 == 1} checked="checked"{/if} /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="by-cell additional" name="acronym_2" value="{$form.acronym_2}" /></td>
                                        <td><input type="text" class="by-cell additional" name="website_2" value="{$form.website_2}" /></td>
                                        <td><input type="text" class="by-cell additional" name="institution_2" value="{$form.institution_2}" /></td>
                                        <td><input type="text" class="by-cell additional" name="email_2" value="{$form.email_2}" /></td>
                                        <td><input type="text" class="by-cell additional" name="contact_2" value="{$form.contact_2}" /></td>
                                        <td>
                                            <select name="country_2" style="width:42px;">
                                                <option value=""></option>
{foreach from=$cols[53].param.values key=key item=value}
                								<option value="{$key}"{if $form.country_2 == $key} selected="selected"{/if}>{$cols[56].param.values[$key]} - {$value}</option>
{/foreach}
                                            </select>
                                        </td>
                                        <td><input type="checkbox" name="jkp_2" value="1"{if $form.jkp_2 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="iis_2" value="1"{if $form.iis_2 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="net_2" value="1"{if $form.net_2 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="other_2" value="1"{if $form.other_2 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="scoping_2" value="1"{if $form.scoping_2 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="mobilising_2" value="1"{if $form.mobilising_2 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="anticipating_2" value="1"{if $form.anticipating_2 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="recommending_2" value="1"{if $form.recommending_2 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="transforming_2" value="1"{if $form.transforming_2 == 1} checked="checked"{/if} /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="by-cell additional" name="acronym_3" value="{$form.acronym_3}" /></td>
                                        <td><input type="text" class="by-cell additional" name="website_3" value="{$form.website_3}" /></td>
                                        <td><input type="text" class="by-cell additional" name="institution_3" value="{$form.institution_3}" /></td>
                                        <td><input type="text" class="by-cell additional" name="email_3" value="{$form.email_3}" /></td>
                                        <td><input type="text" class="by-cell additional" name="contact_3" value="{$form.contact_3}" /></td>
                                        <td>
                                            <select name="country_3" style="width:42px;">
                                                <option value=""></option>
{foreach from=$cols[53].param.values key=key item=value}
                								<option value="{$key}"{if $form.country_3 == $key} selected="selected"{/if}>{$cols[56].param.values[$key]} - {$value}</option>
{/foreach}
                                            </select>
                                        </td>
                                        <td><input type="checkbox" name="jkp_3" value="1"{if $form.jkp_3 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="iis_3" value="1"{if $form.iis_3 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="net_3" value="1"{if $form.net_3 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="other_3" value="1"{if $form.other_3 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="scoping_3" value="1"{if $form.scoping_3 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="mobilising_3" value="1"{if $form.mobilising_3 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="anticipating_3" value="1"{if $form.anticipating_3 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="recommending_3" value="1"{if $form.recommending_3 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="transforming_3" value="1"{if $form.transforming_3 == 1} checked="checked"{/if} /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="by-cell additional" name="acronym_4" value="{$form.acronym_4}" /></td>
                                        <td><input type="text" class="by-cell additional" name="website_4" value="{$form.website_4}" /></td>
                                        <td><input type="text" class="by-cell additional" name="institution_4" value="{$form.institution_4}" /></td>
                                        <td><input type="text" class="by-cell additional" name="email_4" value="{$form.email_4}" /></td>
                                        <td><input type="text" class="by-cell additional" name="contact_4" value="{$form.contact_4}" /></td>
                                        <td>
                                            <select name="country_4" style="width:42px;">
                                                <option value=""></option>
{foreach from=$cols[53].param.values key=key item=value}
                								<option value="{$key}"{if $form.country_4 == $key} selected="selected"{/if}>{$cols[56].param.values[$key]} - {$value}</option>
{/foreach}
                                            </select>
                                        </td>
                                        <td><input type="checkbox" name="jkp_4" value="1"{if $form.jkp_4 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="iis_4" value="1"{if $form.iis_4 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="net_4" value="1"{if $form.net_4 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="other_4" value="1"{if $form.other_4 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="scoping_4" value="1"{if $form.scoping_4 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="mobilising_4" value="1"{if $form.mobilising_4 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="anticipating_4" value="1"{if $form.anticipating_4 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="recommending_4" value="1"{if $form.recommending_4 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="transforming_4" value="1"{if $form.transforming_4 == 1} checked="checked"{/if} /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="by-cell additional" name="acronym_5" value="{$form.acronym_5}" /></td>
                                        <td><input type="text" class="by-cell additional" name="website_5" value="{$form.website_5}" /></td>
                                        <td><input type="text" class="by-cell additional" name="institution_5" value="{$form.institution_5}" /></td>
                                        <td><input type="text" class="by-cell additional" name="email_5" value="{$form.email_5}" /></td>
                                        <td><input type="text" class="by-cell additional" name="contact_5" value="{$form.contact_5}" /></td>
                                        <td>
                                            <select name="country_5" style="width:42px;">
                                                <option value=""></option>
{foreach from=$cols[53].param.values key=key item=value}
                								<option value="{$key}"{if $form.country_5 == $key} selected="selected"{/if}>{$cols[56].param.values[$key]} - {$value}</option>
{/foreach}
                                            </select>
                                        </td>
                                        <td><input type="checkbox" name="jkp_5" value="1"{if $form.jkp_5 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="iis_5" value="1"{if $form.iis_5 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="net_5" value="1"{if $form.net_5 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="other_5" value="1"{if $form.other_5 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="scoping_5" value="1"{if $form.scoping_5 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="mobilising_5" value="1"{if $form.mobilising_5 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="anticipating_5" value="1"{if $form.anticipating_5 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="recommending_5" value="1"{if $form.recommending_5 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="transforming_5" value="1"{if $form.transforming_5 == 1} checked="checked"{/if} /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="by-cell additional" name="acronym_6" value="{$form.acronym_6}" /></td>
                                        <td><input type="text" class="by-cell additional" name="website_6" value="{$form.website_6}" /></td>
                                        <td><input type="text" class="by-cell additional" name="institution_6" value="{$form.institution_6}" /></td>
                                        <td><input type="text" class="by-cell additional" name="email_6" value="{$form.email_6}" /></td>
                                        <td><input type="text" class="by-cell additional" name="contact_6" value="{$form.contact_6}" /></td>
                                        <td>
                                            <select name="country_6" style="width:42px;">
                                                <option value=""></option>
{foreach from=$cols[53].param.values key=key item=value}
                								<option value="{$key}"{if $form.country_6 == $key} selected="selected"{/if}>{$cols[56].param.values[$key]} - {$value}</option>
{/foreach}
                                            </select>
                                        </td>
                                        <td><input type="checkbox" name="jkp_6" value="1"{if $form.jkp_6 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="iis_6" value="1"{if $form.iis_6 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="net_6" value="1"{if $form.net_6 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="other_6" value="1"{if $form.other_6 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="scoping_6" value="1"{if $form.scoping_6 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="mobilising_6" value="1"{if $form.mobilising_6 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="anticipating_6" value="1"{if $form.anticipating_6 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="recommending_6" value="1"{if $form.recommending_6 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="transforming_6" value="1"{if $form.transforming_6 == 1} checked="checked"{/if} /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="by-cell additional" name="acronym_7" value="{$form.acronym_7}" /></td>
                                        <td><input type="text" class="by-cell additional" name="website_7" value="{$form.website_7}" /></td>
                                        <td><input type="text" class="by-cell additional" name="institution_7" value="{$form.institution_7}" /></td>
                                        <td><input type="text" class="by-cell additional" name="email_7" value="{$form.email_7}" /></td>
                                        <td><input type="text" class="by-cell additional" name="contact_7" value="{$form.contact_7}" /></td>
                                        <td>
                                            <select name="country_7" style="width:42px;">
                                                <option value=""></option>
{foreach from=$cols[53].param.values key=key item=value}
                								<option value="{$key}"{if $form.country_7 == $key} selected="selected"{/if}>{$cols[56].param.values[$key]} - {$value}</option>
{/foreach}
                                            </select>
                                        </td>
                                        <td><input type="checkbox" name="jkp_7" value="1"{if $form.jkp_7 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="iis_7" value="1"{if $form.iis_7 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="net_7" value="1"{if $form.net_7 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="other_7" value="1"{if $form.other_7 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="scoping_7" value="1"{if $form.scoping_7 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="mobilising_7" value="1"{if $form.mobilising_7 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="anticipating_7" value="1"{if $form.anticipating_7 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="recommending_7" value="1"{if $form.recommending_7 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="transforming_7" value="1"{if $form.transforming_7 == 1} checked="checked"{/if} /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="by-cell additional" name="acronym_8" value="{$form.acronym_8}" /></td>
                                        <td><input type="text" class="by-cell additional" name="website_8" value="{$form.website_8}" /></td>
                                        <td><input type="text" class="by-cell additional" name="institution_8" value="{$form.institution_8}" /></td>
                                        <td><input type="text" class="by-cell additional" name="email_8" value="{$form.email_8}" /></td>
                                        <td><input type="text" class="by-cell additional" name="contact_8" value="{$form.contact_8}" /></td>
                                        <td>
                                            <select name="country_8" style="width:42px;">
                                                <option value=""></option>
{foreach from=$cols[53].param.values key=key item=value}
                								<option value="{$key}"{if $form.country_8 == $key} selected="selected"{/if}>{$cols[56].param.values[$key]} - {$value}</option>
{/foreach}
                                            </select>
                                        </td>
                                        <td><input type="checkbox" name="jkp_8" value="1"{if $form.jkp_8 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="iis_8" value="1"{if $form.iis_8 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="net_8" value="1"{if $form.net_8 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="other_8" value="1"{if $form.other_8 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="scoping_8" value="1"{if $form.scoping_8 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="mobilising_8" value="1"{if $form.mobilising_8 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="anticipating_8" value="1"{if $form.anticipating_8 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="recommending_8" value="1"{if $form.recommending_8 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="transforming_8" value="1"{if $form.transforming_8 == 1} checked="checked"{/if} /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="by-cell additional" name="acronym_9" value="{$form.acronym_9}" /></td>
                                        <td><input type="text" class="by-cell additional" name="website_9" value="{$form.website_9}" /></td>
                                        <td><input type="text" class="by-cell additional" name="institution_9" value="{$form.institution_9}" /></td>
                                        <td><input type="text" class="by-cell additional" name="email_9" value="{$form.email_9}" /></td>
                                        <td><input type="text" class="by-cell additional" name="contact_9" value="{$form.contact_9}" /></td>
                                        <td>
                                            <select name="country_9" style="width:42px;">
                                                <option value=""></option>
{foreach from=$cols[53].param.values key=key item=value}
                								<option value="{$key}"{if $form.country_9 == $key} selected="selected"{/if}>{$cols[56].param.values[$key]} - {$value}</option>
{/foreach}
                                            </select>
                                        </td>
                                        <td><input type="checkbox" name="jkp_9" value="1"{if $form.jkp_9 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="iis_9" value="1"{if $form.iis_9 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="net_9" value="1"{if $form.net_9 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="other_9" value="1"{if $form.other_9 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="scoping_9" value="1"{if $form.scoping_9 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="mobilising_9" value="1"{if $form.mobilising_9 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="anticipating_9" value="1"{if $form.anticipating_9 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="recommending_9" value="1"{if $form.recommending_9 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="transforming_9" value="1"{if $form.transforming_9 == 1} checked="checked"{/if} /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="by-cell additional" name="acronym_10" value="{$form.acronym_10}" /></td>
                                        <td><input type="text" class="by-cell additional" name="website_10" value="{$form.website_10}" /></td>
                                        <td><input type="text" class="by-cell additional" name="institution_10" value="{$form.institution_10}" /></td>
                                        <td><input type="text" class="by-cell additional" name="email_10" value="{$form.email_10}" /></td>
                                        <td><input type="text" class="by-cell additional" name="contact_10" value="{$form.contact_10}" /></td>
                                        <td>
                                            <select name="country_10" style="width:42px;">
                                                <option value=""></option>
{foreach from=$cols[53].param.values key=key item=value}
                								<option value="{$key}"{if $form.country_10 == $key} selected="selected"{/if}>{$cols[56].param.values[$key]} - {$value}</option>
{/foreach}
                                            </select>
                                        </td>
                                        <td><input type="checkbox" name="jkp_10" value="1"{if $form.jkp_10 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="iis_10" value="1"{if $form.iis_10 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="net_10" value="1"{if $form.net_10 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="other_10" value="1"{if $form.other_10 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="scoping_10" value="1"{if $form.scoping_10 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="mobilising_10" value="1"{if $form.mobilising_10 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="anticipating_10" value="1"{if $form.anticipating_10 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="recommending_10" value="1"{if $form.recommending_10 == 1} checked="checked"{/if} /></td>
                                        <td><input type="checkbox" name="transforming_10" value="1"{if $form.transforming_10 == 1} checked="checked"{/if} /></td>
                                    </tr>
                                    <tr>
                                        <th colspan="15" class="t-l notice">
                                            <div class="f-l" style="padding-right:18px">
                                                <b>*</b> Type:<br />
                                                <b>JKP</b> = joint knowledge production<br />
                                                <b>IIS</b> = information and infrastructure sharing<br />
                                                <b>Net</b> = networking<br />
                                                <b>O</b> = other.
                                            </div>
                                            <b>**</b> Phases of FLA Being Supported:<br />
                                            <b>S</b> = scoping<br />
                                            <b>M</b> = mobilising<br />
                                            <b>A</b> = anticipating<br />
                                            <b>R</b> = recommending<br />
                                            <b>T</b> = transforming
                                        </th>
                                    </tr>
                                </table>
                            </div>