                    <h6>Annexe 1.14: Mobilising Futures (7/7)</h6>
                    <h1><b>Public Relations and Marketing</b></h1>
                    <div class="oracle-form">
                        <form action="" method="post">
                            <h3>Q1: Please indicate with 1 to 5 stars (<span class="stars">*****</span>) the level of use of three types of public relation and marketing strategies to promote the study while it was ongoing?</h3>
                            <div class="table-wrapper">
                                <table>
                                    <col />
                                    <col style="width:160px" />
                                    <thead>
                                        <tr>
                                            <th class="t-l">Type (and sub-type) of PR strategy used</th>
                                            <th>Level of use<br />&nbsp;low <span class="divider">&rsaquo;</span> high</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="group-subcat" colspan="2">
                                                <b style="font-size:14px;line-height:22px">Word of Mouth</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Presenting the project at events/conferences organised by others</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="wm1"{if $form.wm1 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="wm1"{if $form.wm1 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="wm1"{if $form.wm1 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="wm1"{if $form.wm1 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="wm1"{if $form.wm1 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="wm1"{if $form.wm1 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Attending events/conferences organised by others</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="wm2"{if $form.wm2 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="wm2"{if $form.wm2 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="wm2"{if $form.wm2 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="wm2"{if $form.wm2 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="wm2"{if $form.wm2 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="wm2"{if $form.wm2 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Organising events/conferences</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="wm3"{if $form.wm3 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="wm3"{if $form.wm3 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="wm3"{if $form.wm3 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="wm3"{if $form.wm3 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="wm3"{if $form.wm3 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="wm3"{if $form.wm3 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Personal briefings</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="wm4"{if $form.wm4 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="wm4"{if $form.wm4 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="wm4"{if $form.wm4 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="wm4"{if $form.wm4 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="wm4"{if $form.wm4 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="wm4"{if $form.wm4 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Lobbying</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="wm5"{if $form.wm5 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="wm5"{if $form.wm5 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="wm5"{if $form.wm5 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="wm5"{if $form.wm5 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="wm5"{if $form.wm5 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="wm5"{if $form.wm5 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">
                                                    Other, please specify:
                                                    <input type="text" class="additional" maxlength="140" name="wm6_other" value="{$form.wm6_other}" style="width:310px" />
                                                    <span class="counter disabled">{$form.wm6_other|count_characters:true}</span>
                                            </td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="wm6"{if $form.wm6 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="wm6"{if $form.wm6 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="wm6"{if $form.wm6 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="wm6"{if $form.wm6 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="wm6"{if $form.wm6 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="wm6"{if $form.wm6 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat" colspan="2">
                                                <b style="font-size:14px;line-height:22px">Online</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Website</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="on1"{if $form.on1 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="on1"{if $form.on1 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="on1"{if $form.on1 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="on1"{if $form.on1 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="on1"{if $form.on1 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="on1"{if $form.on1 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">E-mails</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="on2"{if $form.on2 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="on2"{if $form.on2 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="on2"{if $form.on2 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="on2"{if $form.on2 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="on2"{if $form.on2 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="on2"{if $form.on2 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Blogs</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="on3"{if $form.on3 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="on3"{if $form.on3 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="on3"{if $form.on3 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="on3"{if $form.on3 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="on3"{if $form.on3 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="on3"{if $form.on3 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Forums</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="on4"{if $form.on4 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="on4"{if $form.on4 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="on4"{if $form.on4 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="on4"{if $form.on4 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="on4"{if $form.on4 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="on4"{if $form.on4 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Podcasts/Web-videos</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="on5"{if $form.on5 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="on5"{if $form.on5 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="on5"{if $form.on5 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="on5"{if $form.on5 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="on5"{if $form.on5 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="on5"{if $form.on5 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">
                                                    Other, please specify:
                                                    <input type="text" class="additional" maxlength="140" name="on6_other" value="{$form.on6_other}" style="width:310px" />
                                                    <span class="counter disabled">{$form.on6_other|count_characters:true}</span>
                                            </td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="on6"{if $form.on6 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="on6"{if $form.on6 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="on6"{if $form.on6 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="on6"{if $form.on6 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="on6"{if $form.on6 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="on6"{if $form.on6 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat" colspan="2">
                                                <b style="font-size:14px;line-height:22px">Offline</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Newsletters</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="off1"{if $form.off1 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="off1"{if $form.off1 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="off1"{if $form.off1 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="off1"{if $form.off1 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="off1"{if $form.off1 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="off1"{if $form.off1 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Flyers/Leaflets</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="off2"{if $form.off2 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="off2"{if $form.off2 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="off2"{if $form.off2 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="off2"{if $form.off2 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="off2"{if $form.off2 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="off2"{if $form.off2 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Policy/Research Briefs</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="off3"{if $form.off3 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="off3"{if $form.off3 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="off3"{if $form.off3 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="off3"{if $form.off3 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="off3"{if $form.off3 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="off3"{if $form.off3 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Media articles/interviews</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="off4"{if $form.off4 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="off4"{if $form.off4 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="off4"{if $form.off4 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="off4"{if $form.off4 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="off4"{if $form.off4 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="off4"{if $form.off4 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">Television/radio/press promotion</td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="off5"{if $form.off5 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="off5"{if $form.off5 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="off5"{if $form.off5 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="off5"{if $form.off5 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="off5"{if $form.off5 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="off5"{if $form.off5 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="group-subcat">
                                                    Other, please specify:
                                                    <input type="text" class="additional" maxlength="140" name="off6_other" value="{$form.off6_other}" style="width:310px" />
                                                    <span class="counter disabled">{$form.off6_other|count_characters:true}</span>
                                            </td>
                                            <td>
                                                <div class="rating">
                                                    <input type="radio" value="0" name="off6"{if $form.off6 == 0} checked="checked"{/if} />
                                                    <input type="radio" value="1" name="off6"{if $form.off6 == 1} checked="checked"{/if} />
                                                    <input type="radio" value="2" name="off6"{if $form.off6 == 2} checked="checked"{/if} />
                                                    <input type="radio" value="3" name="off6"{if $form.off6 == 3} checked="checked"{/if} />
                                                    <input type="radio" value="4" name="off6"{if $form.off6 == 4} checked="checked"{/if} />
                                                    <input type="radio" value="5" name="off6"{if $form.off6 == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="t-l notice">
                                                <div class="f-l" style="padding-right:18px">
                                                    <span class="stars">*</span> = none/very low<br />
                                                    <span class="stars">**</span> = low<br />
                                                    <span class="stars">***</span> = moderate<br />
                                                    <span class="stars">****</span> = high<br />
                                                    <span class="stars">*****</span> = very high
                                                </div>
                                                <div class="f-l" style="max-width:440px">
                                                    <b>Note:</b> The mapping of public relation and marketing refers to activities to engage key stakeholders before the production of final results.
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <script type="text/javascript">
                            {literal}
                              //<![CDATA[
                                var checkOther = function (changed, notInitial) {
                                    var t = $(changed);
                                    notInitial = notInitial || false;
                                    if (t.prop('checked')) {
                                        t.closest('label').find('input[type="text"],.counter').removeClass('disabled').prop('disabled', false);
                                        if (notInitial) {
                                            t.closest('label').find('input[type="text"]').focus();
                                        }
                                    } else {
                                        t.closest('label').find('input[type="text"],.counter').addClass('disabled').prop('disabled', true);
                                    }
                                },
                                initial = true;
                                $('.otherCheck').change(function () {
                                    checkOther(this, !initial);
                                });
                                $('.otherCheck').closest('label').find('input[type="text"],.counter').click(function (e) {
                                    e.stopPropagation();
                                    return false;
                                });
                                $('.otherCheck').change();
                                initial = false;
                              //]]>
                            {/literal}
                            </script>


                            <h3>Q2: What were the main “catching hooks” that the study used to attract key stakeholders’ interest?</h3>

                            <div class="table-wrapper">
                                <table class="maxThree">
                                    <col style="width:36px" />
                                    <col />
                                    <tr>
                                        <th colspan="2">Select maximum 3 from the following options:</th>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="ch1" value="1"{if $form.ch1 == 1} checked="checked"{/if} id="id_1-14-1" /></td>
                                        <td><label for="id_1-14-1">Location of events</label></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="ch2" value="1"{if $form.ch2 == 1} checked="checked"{/if} id="id_1-14-2" /></td>
                                        <td><label for="id_1-14-2">Sponsors’ influence</label></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="ch3" value="1"{if $form.ch3 == 1} checked="checked"{/if} id="id_1-14-3" /></td>
                                        <td><label for="id_1-14-3">Brand of organisations</label></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="ch4" value="1"{if $form.ch4 == 1} checked="checked"{/if} id="id_1-14-4" /></td>
                                        <td><label for="id_1-14-4">Agenda-setters in the project team</label></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="ch5" value="1"{if $form.ch5 == 1} checked="checked"{/if} id="id_1-14-5" /></td>
                                        <td><label for="id_1-14-5">Reputation of individual project members</label></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="ch6" value="1"{if $form.ch6 == 1} checked="checked"{/if} id="id_1-14-6" /></td>
                                        <td><label for="id_1-14-6">Access to foresight and FLA practice (know-how)</label></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="ch7" value="1"{if $form.ch7 == 1} checked="checked"{/if} id="id_1-14-7" /></td>
                                        <td><label for="id_1-14-7">Access to foresight and FLA players (community)</label></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="ch8" value="1"{if $form.ch8 == 1} checked="checked"{/if} id="id_1-14-8" /></td>
                                        <td><label for="id_1-14-8">Access to foresight and FLA outcomes (knowledge/content)</label></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="ch9" value="1"{if $form.ch9 == 1} checked="checked"{/if} id="id_1-14-9" /></td>
                                        <td>
                                            <label for="id_1-14-9">Other, please specify:
                                            <input type="text" class="additional" maxlength="140" name="ch9_other" value="{$form.ch9_other}" style="width:310px"{if $form.ch9 != 1} disabled="disabled"{/if} />
                                            <span class="counter disabled">{$form.ch9_other|count_characters:true}</span></label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <script type="text/javascript">
                            {literal}
                              //<![CDATA[
                                var notInitial = false;
                                $('.maxThree input[type="checkbox"]').change(function () {
                                    var mt = $('.maxThree'),
                                        oth = $('#id_1-14-9');
                                    if (mt.find('input[type="checkbox"]:checked').length >= 3) {
                                        mt.find('input[type="checkbox"]').not(':checked').prop('disabled', true).closest('tr').addClass('disabled');
                                    } else {
                                        mt.find('input[type="checkbox"]').prop('disabled', false).closest('tr').removeClass('disabled');
                                    }
                                    if (oth.prop('checked')) {
                                        oth.closest('tr').find('input[type="text"],.counter').prop('disabled', false).removeClass('disabled');
                                        if ($(this).is(oth) && notInitial) {
                                            oth.closest('tr').find('input[type="text"]').focus();
                                        }
                                    } else {
                                        oth.closest('tr').find('input[type="text"],.counter').prop('disabled', true).addClass('disabled');
                                    }
                                });
                                $('#id_1-14-9').closest('tr').find('input[type="text"],.counter').click(function (e) {
                                    e.stopPropagation();
                                    return false;
                                });
                                $('.maxThree input[type="checkbox"]').change();
                                notInitial = true;
                              //]]>
                            {/literal}
                            </script>