                    <h6>Annexe 1.2: Scoping Futures (2/7)</h6>
                    <h1><b>Rationales and Background</b></h1>

                    <div class="oracle-form">
                        <form action="" method="post" enctype="multipart/form-data">


                            <h3>Q1: Use 1 to 5 stars (<span class="stars">*****</span>) to indicate how the following FORESIGHTING rationales best relate to the study?</h3>

                            <div class="table-wrapper">
                                <table>
                                    <col />
                                    <col style="width:160px" />
                                    <thead>
                                        <tr>
                                            <th class="t-l">FORESIGHT Rationale</th>
                                            <th>Relev. &nbsp;low <span class="divider">&rsaquo;</span> high</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><div class="semi-label">Forecasting
                                                <abbr title="technological, economic, environmental, political, social, ethical">TEEPSE</abbr> events/developments</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="forecasting"{if $form.forecasting == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="forecasting"{if $form.forecasting == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="forecasting"{if $form.forecasting == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="forecasting"{if $form.forecasting == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="forecasting"{if $form.forecasting == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="forecasting"{if $form.forecasting == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label">Orienting policy and strategy development</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="orienting"{if $form.orienting == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="orienting"{if $form.orienting == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="orienting"{if $form.orienting == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="orienting"{if $form.orienting == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="orienting"{if $form.orienting == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="orienting"{if $form.orienting == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label">Recognising drivers/impacts of
                                                <abbr title="technological, economic, environmental, political, social, ethical">TEEPSE</abbr> changes</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="recognising"{if $form.recognising == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="recognising"{if $form.recognising == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="recognising"{if $form.recognising == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="recognising"{if $form.recognising == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="recognising"{if $form.recognising == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="recognising"{if $form.recognising == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label">Engaging key stakeholders and decision-shapers</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="engaging"{if $form.engaging == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="engaging"{if $form.engaging == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="engaging"{if $form.engaging == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="engaging"{if $form.engaging == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="engaging"{if $form.engaging == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="engaging"{if $form.engaging == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label">Supporting <abbr title="science, technology and innovation">STI</abbr> priority-setting and governance</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="supporting"{if $form.supporting == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="supporting"{if $form.supporting == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="supporting"{if $form.supporting == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="supporting"{if $form.supporting == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="supporting"{if $form.supporting == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="supporting"{if $form.supporting == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label">Identifying key/emerging
                                                <abbr title="technological, economic, environmental, political, social, ethical">TEEPSE</abbr> issues</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="identifying_issues"{if $form.identifying_issues == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="identifying_issues"{if $form.identifying_issues == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="identifying_issues"{if $form.identifying_issues == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="identifying_issues"{if $form.identifying_issues == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="identifying_issues"{if $form.identifying_issues == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="identifying_issues"{if $form.identifying_issues == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label">Generating (shared) visions and scenarios</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="generating_scenarios"{if $form.generating_scenarios == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="generating_scenarios"{if $form.generating_scenarios == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="generating_scenarios"{if $form.generating_scenarios == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="generating_scenarios"{if $form.generating_scenarios == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="generating_scenarios"{if $form.generating_scenarios == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="generating_scenarios"{if $form.generating_scenarios == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label">Harmonising (<abbr title="science, technology and innovation">STI</abbr>) supply and demand needs</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="harmonising"{if $form.harmonising == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="harmonising"{if $form.harmonising == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="harmonising"{if $form.harmonising == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="harmonising"{if $form.harmonising == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="harmonising"{if $form.harmonising == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="harmonising"{if $form.harmonising == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label">Transforming/absorbing capacities and methodology</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="transforming"{if $form.transforming == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="transforming"{if $form.transforming == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="transforming"{if $form.transforming == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="transforming"{if $form.transforming == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="transforming"{if $form.transforming == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="transforming"{if $form.transforming == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label">Identifying risks, grand challenges and opportunities</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="identifying_risks"{if $form.identifying_risks == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="identifying_risks"{if $form.identifying_risks == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="identifying_risks"{if $form.identifying_risks == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="identifying_risks"{if $form.identifying_risks == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="identifying_risks"{if $form.identifying_risks == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="identifying_risks"{if $form.identifying_risks == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label">Networking and international cooperation</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="networking"{if $form.networking == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="networking"{if $form.networking == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="networking"{if $form.networking == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="networking"{if $form.networking == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="networking"{if $form.networking == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="networking"{if $form.networking == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label">Generating bridges between science and policy</div></td>
                                            <td>
                                                <div class="rating">
                                                <input type="radio" value="0" name="generating_bridges"{if $form.generating_bridges == 0} checked="checked"{/if} />
                                                <input type="radio" value="1" name="generating_bridges"{if $form.generating_bridges == 1} checked="checked"{/if} />
                                                <input type="radio" value="2" name="generating_bridges"{if $form.generating_bridges == 2} checked="checked"{/if} />
                                                <input type="radio" value="3" name="generating_bridges"{if $form.generating_bridges == 3} checked="checked"{/if} />
                                                <input type="radio" value="4" name="generating_bridges"{if $form.generating_bridges == 4} checked="checked"{/if} />
                                                <input type="radio" value="5" name="generating_bridges"{if $form.generating_bridges == 5} checked="checked"{/if} />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th colspan="2" class="t-l notice">
                                                <div style="float:left">
                                                <span class="stars">*</span> = none/very low<br />
                                                <span class="stars">**</span> = low<br />
                                                <span class="stars">***</span> = moderate<br />
                                                <span class="stars">****</span> = high<br />
                                                <span class="stars">*****</span> = very high
                                                </div>
                                                <div style="margin-left:110px">
                                                    <b>TEEPSE</b> = technological, economic, environmental, political, social, ethical<br />
                                                    <b>STI</b> = science, technology and innovation
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                            <h3>Q2a: What background events can be related the study? Please indicate up to 5 events that led to the study</h3>

                            <div class="table-wrapper">
                                <table>
                                    <col style="width:24px" />
                                    <col />
                                    <col style="width:30px" />
                                    <col style="width:30px" />
                                    <col style="width:30px" />
                                    <col style="width:30px" />
                                    <col style="width:30px" />
                                    <col style="width:30px" />
                                    <col style="width:130px" />
                                    <thead>
                                        <tr>
                                            <th rowspan="2" colspan="2" class="t-l">Indicate background event related to the study</th>
                                            <th colspan="6">Indicate the type of event</th>
                                            <th rowspan="2">Reference URL</th>
                                        </tr>
                                        <tr class="smarrt">
                                            <th><div><div><b>T</b><span class="v-h">echnological</span></div></div></th>
                                            <th><div><div><b>E</b><span class="v-h">conomic</span></div></div></th>
                                            <th><div><div><b>E</b><span class="v-h">nvironmental</span></div></div></th>
                                            <th><div><div><b>P</b><span class="v-h">olitical</span></div></div></th>
                                            <th><div><div><b>S</b><span class="v-h">ocial</span></div></div></th>
                                            <th><div><div><b>E</b><span class="v-h">thical</span></div></div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><div class="semi-label"><b>1</b></div></td>
                                            <td class="objective"><input type="text" maxlength="255" name="event_1" value="{$form.event_1}" /></td>
                                            <td class="radio"><input type="checkbox" name="event_1_technological" value="1"{if isset($form.event_1_technological) && $form.event_1_technological == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_1_economic" value="1"{if isset($form.event_1_economic) && $form.event_1_economic == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_1_environmental" value="1"{if isset($form.event_1_environmental) && $form.event_1_environmental == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_1_political" value="1"{if isset($form.event_1_political) && $form.event_1_political == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_1_social" value="1"{if isset($form.event_1_social) && $form.event_1_social == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_1_ethical" value="1"{if isset($form.event_1_ethical) && $form.event_1_ethical == 1} checked="checked"{/if} /></td>
                                            <td class="t-l"><input type="text" class="reference" maxlength="255" name="event_1_url" value="{$form.event_1_url}" /></td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label"><b>2</b></div></td>
                                            <td class="objective"><input type="text" maxlength="255" name="event_2" value="{$form.event_2}" /></td>
                                            <td class="radio"><input type="checkbox" name="event_2_technological" value="1"{if isset($form.event_2_technological) && $form.event_2_technological == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_2_economic" value="1"{if isset($form.event_2_economic) && $form.event_2_economic == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_2_environmental" value="1"{if isset($form.event_2_environmental) && $form.event_2_environmental == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_2_political" value="1"{if isset($form.event_2_political) && $form.event_2_political == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_2_social" value="1"{if isset($form.event_2_social) && $form.event_2_social == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_2_ethical" value="1"{if isset($form.event_2_ethical) && $form.event_2_ethical == 1} checked="checked"{/if} /></td>
                                            <td class="t-l"><input type="text" class="reference" maxlength="255" name="event_2_url" value="{$form.event_2_url}" /></td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label"><b>3</b></div></td>
                                            <td class="objective"><input type="text" maxlength="255" name="event_3" value="{$form.event_3}" /></td>
                                            <td class="radio"><input type="checkbox" name="event_3_technological" value="1"{if isset($form.event_3_technological) && $form.event_3_technological == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_3_economic" value="1"{if isset($form.event_3_economic) && $form.event_3_economic == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_3_environmental" value="1"{if isset($form.event_3_environmental) && $form.event_3_environmental == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_3_political" value="1"{if isset($form.event_3_political) && $form.event_3_political == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_3_social" value="1"{if isset($form.event_3_social) && $form.event_3_social == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_3_ethical" value="1"{if isset($form.event_3_ethical) && $form.event_3_ethical == 1} checked="checked"{/if} /></td>
                                            <td class="t-l"><input type="text" class="reference" maxlength="255" name="event_3_url" value="{$form.event_3_url}" /></td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label"><b>4</b></div></td>
                                            <td class="objective"><input type="text" maxlength="255" name="event_4" value="{$form.event_4}" /></td>
                                            <td class="radio"><input type="checkbox" name="event_4_technological" value="1"{if isset($form.event_4_technological) && $form.event_4_technological == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_4_economic" value="1"{if isset($form.event_4_economic) && $form.event_4_economic == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_4_environmental" value="1"{if isset($form.event_4_environmental) && $form.event_4_environmental == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_4_political" value="1"{if isset($form.event_4_political) && $form.event_4_political == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_4_social" value="1"{if isset($form.event_4_social) && $form.event_4_social == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_4_ethical" value="1"{if isset($form.event_4_ethical) && $form.event_4_ethical == 1} checked="checked"{/if} /></td>
                                            <td class="t-l"><input type="text" class="reference" maxlength="255" name="event_4_url" value="{$form.event_4_url}" /></td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label"><b>5</b></div></td>
                                            <td class="objective"><input type="text" maxlength="255" name="event_5" value="{$form.event_5}" /></td>
                                            <td class="radio"><input type="checkbox" name="event_5_technological" value="1"{if isset($form.event_5_technological) && $form.event_5_technological == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_5_economic" value="1"{if isset($form.event_5_economic) && $form.event_5_economic == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_5_environmental" value="1"{if isset($form.event_5_environmental) && $form.event_5_environmental == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_5_political" value="1"{if isset($form.event_5_political) && $form.event_5_political == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_5_social" value="1"{if isset($form.event_5_social) && $form.event_5_social == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="checkbox" name="event_5_ethical" value="1"{if isset($form.event_5_ethical) && $form.event_5_ethical == 1} checked="checked"{/if} /></td>
                                            <td class="t-l"><input type="text" class="reference" maxlength="255" name="event_5_url" value="{$form.event_5_url}" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                            <h3>Q2b: What background documents/initiative can be related to the study</h3>

                            <div class="table-wrapper">
                                <table id="a-1-2-q-2-b">
                                    <col style="width:24px" />
                                    <col />
                                    <col style="width:31px" />
                                    <col style="width:30px" />
                                    <col style="width:31px" />
                                    <col style="width:31px" />
                                    <col style="width:30px" />
                                    <col style="width:96px" />
                                    <col style="width:96px" />
                                    <thead>
                                        <tr>
                                            <th rowspan="2" colspan="2" class="t-l br2">Indicate background document/initiative</th>
                                            <th colspan="2" class="br2">Type</th>
                                            <th colspan="3" class="br2">Use in the project</th>
                                            <th colspan="2">Reference</th>
                                        </tr>
                                        <tr>
                                            <th class="image-label"><span title="Document">Document</span></th>
                                            <th class="br2 image-label"><span title="Initiative">Initiative</span></th>
                                            <th class="image-label"><span title="To justify it">To justify it</span></th>
                                            <th class="image-label"><span title="To design it">To design it</span></th>
                                            <th class="br2 image-label"><span title="To inform it">To inform it</span></th>
                                            <th>URL</th>
                                            <th>File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><div class="semi-label"><b>1</b></div></td>
                                            <td class="initiative br2"><input type="text" maxlength="255" name="background_1" value="{$form.background_1}" /></td>
                                            <td class="radio"><input type="radio" name="background_1_type" value="1"{if isset($form.background_1_type) && $form.background_1_type == 1} checked="checked"{/if} /></td>
                                            <td class="radio br2"><input type="radio" name="background_1_type" value="2"{if isset($form.background_1_type) && $form.background_1_type == 2} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="radio" name="background_1_use" value="1"{if isset($form.background_1_use) && $form.background_1_use == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="radio" name="background_1_use" value="2"{if isset($form.background_1_use) && $form.background_1_use == 2} checked="checked"{/if} /></td>
                                            <td class="radio br2"><input type="radio" name="background_1_use" value="3"{if isset($form.background_1_use) && $form.background_1_use == 3} checked="checked"{/if} /></td>
                                            <td class="t-c"><input type="text" class="reference ref2" maxlength="255" name="background_1_url" value="{$form.background_1_url}" /></td>
                                            <td class="t-c">
                                                <span class="o-h">
{if isset($form.background_1_file) && $form.background_1_file}
                                                    <a href="{$FILES}{$form.background_1_file}">{$form.background_1_file}</a>{if $user_id && !isset($form.submit)} <a href="?delete=background_1_file" class="delete">delete</a>{/if}
                                                    <input type="hidden" name="background_1_file" value="{$form.background_1_file}" />
{else}
                                                    <input type="file" name="background_1_file" />
{/if}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label"><b>2</b></div></td>
                                            <td class="initiative br2"><input type="text" maxlength="255" name="background_2" value="{$form.background_2}" /></td>
                                            <td class="radio"><input type="radio" name="background_2_type" value="1"{if isset($form.background_2_type) && $form.background_2_type == 1} checked="checked"{/if} /></td>
                                            <td class="radio br2"><input type="radio" name="background_2_type" value="2"{if isset($form.background_2_type) && $form.background_2_type == 2} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="radio" name="background_2_use" value="1"{if isset($form.background_2_use) && $form.background_2_use == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="radio" name="background_2_use" value="2"{if isset($form.background_2_use) && $form.background_2_use == 2} checked="checked"{/if} /></td>
                                            <td class="radio br2"><input type="radio" name="background_2_use" value="3"{if isset($form.background_2_use) && $form.background_2_use == 3} checked="checked"{/if} /></td>
                                            <td class="t-c"><input type="text" class="reference ref2" maxlength="255" name="background_2_url" value="{$form.background_2_url}" /></td>
                                            <td class="t-c">
                                                <span class="o-h">
{if isset($form.background_2_file) && $form.background_2_file}
                                                    <a href="{$FILES}{$form.background_2_file}">{$form.background_2_file}</a>{if $user_id && !isset($form.submit)} <a href="?delete=background_2_file" class="delete">delete</a>{/if}
                                                    <input type="hidden" name="background_2_file" value="{$form.background_2_file}" />
{else}
                                                    <input type="file" name="background_2_file" />
{/if}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label"><b>3</b></div></td>
                                            <td class="initiative br2"><input type="text" maxlength="255" name="background_3" value="{$form.background_3}" /></td>
                                            <td class="radio"><input type="radio" name="background_3_type" value="1"{if isset($form.background_3_type) && $form.background_3_type == 1} checked="checked"{/if} /></td>
                                            <td class="radio br2"><input type="radio" name="background_3_type" value="2"{if isset($form.background_3_type) && $form.background_3_type == 2} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="radio" name="background_3_use" value="1"{if isset($form.background_3_use) && $form.background_3_use == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="radio" name="background_3_use" value="2"{if isset($form.background_3_use) && $form.background_3_use == 2} checked="checked"{/if} /></td>
                                            <td class="radio br2"><input type="radio" name="background_3_use" value="3"{if isset($form.background_3_use) && $form.background_3_use == 3} checked="checked"{/if} /></td>
                                            <td class="t-c"><input type="text" class="reference ref2" maxlength="255" name="background_3_url" value="{$form.background_3_url}" /></td>
                                            <td class="t-c">
                                                <span class="o-h">
{if isset($form.background_3_file) && $form.background_3_file}
                                                    <a href="{$FILES}{$form.background_3_file}">{$form.background_3_file}</a>{if $user_id && !isset($form.submit)} <a href="?delete=background_3_file" class="delete">delete</a>{/if}
                                                    <input type="hidden" name="background_3_file" value="{$form.background_3_file}" />
{else}
                                                    <input type="file" name="background_3_file" />
{/if}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label"><b>4</b></div></td>
                                            <td class="initiative br2"><input type="text" maxlength="255" name="background_4" value="{$form.background_4}" /></td>
                                            <td class="radio"><input type="radio" name="background_4_type" value="1"{if isset($form.background_4_type) && $form.background_4_type == 1} checked="checked"{/if} /></td>
                                            <td class="radio br2"><input type="radio" name="background_4_type" value="2"{if isset($form.background_4_type) && $form.background_4_type == 2} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="radio" name="background_4_use" value="1"{if isset($form.background_4_use) && $form.background_4_use == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="radio" name="background_4_use" value="2"{if isset($form.background_4_use) && $form.background_4_use == 2} checked="checked"{/if} /></td>
                                            <td class="radio br2"><input type="radio" name="background_4_use" value="3"{if isset($form.background_4_use) && $form.background_4_use == 3} checked="checked"{/if} /></td>
                                            <td class="t-c"><input type="text" class="reference ref2" maxlength="255" name="background_4_url" value="{$form.background_4_url}" /></td>
                                            <td class="t-c">
                                                <span class="o-h">
{if isset($form.background_4_file) && $form.background_4_file}
                                                    <a href="{$FILES}{$form.background_4_file}">{$form.background_4_file}</a>{if $user_id && !isset($form.submit)} <a href="?delete=background_4_file" class="delete">delete</a>{/if}
                                                    <input type="hidden" name="background_4_file" value="{$form.background_4_file}" />
{else}
                                                    <input type="file" name="background_4_file" />
{/if}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="semi-label"><b>5</b></div></td>
                                            <td class="initiative br2"><input type="text" maxlength="255" name="background_5" value="{$form.background_5}" /></td>
                                            <td class="radio"><input type="radio" name="background_5_type" value="1"{if isset($form.background_5_type) && $form.background_5_type == 1} checked="checked"{/if} /></td>
                                            <td class="radio br2"><input type="radio" name="background_5_type" value="2"{if isset($form.background_5_type) && $form.background_5_type == 2} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="radio" name="background_5_use" value="1"{if isset($form.background_5_use) && $form.background_5_use == 1} checked="checked"{/if} /></td>
                                            <td class="radio"><input type="radio" name="background_5_use" value="2"{if isset($form.background_5_use) && $form.background_5_use == 2} checked="checked"{/if} /></td>
                                            <td class="radio br2"><input type="radio" name="background_5_use" value="3"{if isset($form.background_5_use) && $form.background_5_use == 3} checked="checked"{/if} /></td>
                                            <td class="t-c"><input type="text" class="reference ref2" maxlength="255" name="background_5_url" value="{$form.background_5_url}" /></td>
                                            <td class="t-c">
                                                <span class="o-h">
{if isset($form.background_5_file) && $form.background_5_file}
                                                    <a href="{$FILES}{$form.background_5_file}">{$form.background_5_file}</a>{if $user_id && !isset($form.submit)} <a href="?delete=background_5_file" class="delete">delete</a>{/if}
                                                    <input type="hidden" name="background_5_file" value="{$form.background_5_file}" />
{else}
                                                    <input type="file" name="background_5_file" />
{/if}
                                                </span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th colspan="9" class="t-l notice">
                                                <div style="float:left">
                                                    <b>Note:</b> Background <b><i>documents</i></b> include reports, academic/grey literatures, white/green papers,
                                                        databases, regulations, manifestos, policy/research briefs, etc). Background <i><b>initiatives</b></i>, include projects,
                                                        programmes, expert groups, investments, networks, strategies, policies, etc.
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>