<span class="number-select frascati">
    <span style="display:block;padding:2px">
        <span class="s"><b>A &ndash; Natural sciences</b></span>
        <span class="s">A01 &ndash; Mathematical science</span>
        <span class="s">A02 &ndash; Information, computing and communication science</span>
        <span class="s">A03 &ndash; Physical science</span>
        <span class="s">A04 &ndash; Chemical science</span>
        <span class="s">A05 &ndash; Earth sciences</span>
        <span class="s">A06 &ndash; Biological sciences</span>
        <span class="s"><b>B &ndash; Engineering and technology</b></span>
        <span class="s">B01 &ndash; Architecture, urban and building</span>
        <span class="s">B02 &ndash; Industrial Biotechnology and Food Sciences</span>
        <span class="s">B03 &ndash; Aerospace Engineering</span>
        <span class="s">B04 &ndash; Manufacturing Engineering</span>
        <span class="s">B05 &ndash; Chemical Engineering</span>
        <span class="s">B06 &ndash; Resources Engineering</span>
        <span class="s">B07 &ndash; Civil Engineering</span>
        <span class="s">B08 &ndash; Geomatic Engineering</span>
        <span class="s">B09 &ndash; Environmental Engineering</span>
        <span class="s">B10 &ndash; Materials Engineering</span>
        <span class="s">B11 &ndash; Biomedical Engineering</span>
        <span class="s">B12 &ndash; Electrical and Electronic Engineering</span>
        <span class="s">B13 &ndash; Communications Technologies</span>
        <span class="s">B14 &ndash; Interdisciplinary Engineering</span>
        <span class="s">B15 &ndash; Other Engineering and Technology</span>
        <span class="s"><b>C &ndash; Medical  sciences</b></span>
        <span class="s">C01 &ndash; Medicine general</span>
        <span class="s">C02 &ndash; Immunology</span>
        <span class="s">C03 &ndash; Medical Biochemistry and Clinical Chemistry</span>
        <span class="s">C04 &ndash; Medical Microbiology</span>
        <span class="s">C05 &ndash; Pharmacology and Pharmaceutical Sciences</span>
        <span class="s">C06 &ndash; Medical Physiology</span>
        <span class="s">C07 &ndash; Neurosciences</span>
        <span class="s">C08 &ndash; Dentistry</span>
        <span class="s">C09 &ndash; Optometry</span>
        <span class="s">C10 &ndash; Clinical Sciences</span>
        <span class="s">C11 &ndash; Nursing</span>
        <span class="s">C12 &ndash; Public Health and Health Services</span>
        <span class="s">C13 &ndash; Complementary/alternative Medicine</span>
        <span class="s">C14 &ndash; Human Movement and Sports Science</span>
        <span class="s">C15 &ndash; Other Medical and Health Sciences</span>
        <span class="s"><b>D &ndash; Agricultural sciences</b></span>
        <span class="s">D01 &ndash; Crop and Pasture Production</span>
        <span class="s">D02 &ndash; Horticulture</span>
        <span class="s">D03 &ndash; Animal Production</span>
        <span class="s">D04 &ndash; Veterinary Sciences</span>
        <span class="s">D05 &ndash; Forestry Sciences</span>
        <span class="s">D06 &ndash; Fisheries Sciences</span>
        <span class="s">D07 &ndash; Land, Parks and Agriculture Management</span>
        <span class="s">D08 &ndash; Other Agricultural, Veterinary and Environmental Sciences</span>
        <span class="s"><b>E &ndash; Social sciences</b></span>
        <span class="s">E01 &ndash; Education</span>
        <span class="s">E02 &ndash; Economics</span>
        <span class="s">E03 &ndash; Commerce, management, tourism and services</span>
        <span class="s">E04 &ndash; Policy and Political Science</span>
        <span class="s">E05 &ndash; Studies in human society</span>
        <span class="s">E06 &ndash; Behavioural and cognitive sciences</span>
        <span class="s">E07 &ndash; Law, justice and law enforcement</span>
        <span class="s"><b>F &ndash; Humanities</b></span>
        <span class="s">F01 &ndash; Journalism and curatorial studies</span>
        <span class="s">F02 &ndash; The arts</span>
        <span class="s">F03 &ndash; Language and culture</span>
        <span class="s">F04 &ndash; History and archaeology</span>
        <span class="s">F05 &ndash; Philosophy and religion</span>
    </span>
</span>
