<span class="number-select frascati">
    <span style="display:block;padding:2px">
        <span class="s"><b>A &ndash; Agriculture, forestry and fishing</b></span>
        <span class="s"><b>B &ndash; Mining and quarrying</b></span>
        <span class="s"><b>C &ndash; Manufacturing</b></span>
        <span class="s"><b>D &ndash; Electricity, gas, steam and air conditioning supply</b></span>
        <span class="s"><b>E &ndash; Water supply; sewerage; waste management and remediation activities</b></span>
        <span class="s"><b>F &ndash; Construction</b></span>
        <span class="s"><b>G &ndash; Wholesale and retail trade; repair of motor vehicles and motorcycles</b></span>
        <span class="s"><b>H &ndash; Transporting and storage</b></span>
        <span class="s"><b>I &ndash; Accommodation and food service activities</b></span>
        <span class="s"><b>J &ndash; Information and communication</b></span>
        <span class="s"><b>K &ndash; Financial and insurance activities</b></span>
        <span class="s"><b>L &ndash; Real estate activities</b></span>
        <span class="s"><b>M &ndash; Professional, scientific and technical activities</b></span>
        <span class="s"><b>N &ndash; Administrative and support service activities</b></span>
        <span class="s"><b>O &ndash; Public administration and defence; compulsory social security</b></span>
        <span class="s"><b>P &ndash; Education</b></span>
        <span class="s"><b>Q &ndash; Human health and social work activities</b></span>
        <span class="s"><b>R &ndash; Arts, entertainment and recreation</b></span>
        <span class="s"><b>S &ndash; Other services activities</b></span>
        <span class="s"><b>T &ndash; Activities of households as employers producing activities of households for own use</b></span>
        <span class="s"><b>U &ndash; Activities of extraterritorial organisations and bodies</b></span>
    </span>
</span>
