<h1 class="h-settings h-settings-editdomain">{if isset($item.item.name) && $item.item.name}{$item.item.name}{else}{#new_item#}{/if}</h1>
<p class="navi"><a href="{$ROOT}?module={$MODULE}&amp;submodule=domain" class="button back">{#back_to_list#}</a></p>
<div class="clr"><hr /></div>
<form method="post" action="">
    <table>
        <tr>
            <th class="th-label th-name"><label for="name">{#name#}</label>:</th>
            <td><input type="text" name="item[name]" id="name" value="{if isset($item.item.name)}{$item.item.name}{/if}" size="50" /></td>
        </tr>
        <tr>
            <th class="th-label th-langs"><label>{#langs#}</label>:</th>
            <td>
{foreach from=$langs item=row}
                <input type="radio" name="default" value="{$row.lang_id}" id="default{$row.lang_id}"{if isset($item.lang[$row.lang_id].dflt) && $item.lang[$row.lang_id].dflt == 1} checked="checked"{/if} /> <label for="default{$row.lang_id}">{#default#}</label>
                <input type="checkbox" name="lang[{$row.lang_id}]" id="lang{$row.lang_id}" value="{$row.lang_id}"{if $domain->hasLang($row.lang_id)} checked="checked"{/if} /> <label for="lang{$row.lang_id}">{$row.name}</label><br />
{/foreach}
            </td>
        </tr>
        <tr>
            <th class="th-label th-alias"><label>Aliasy</label>:</th>
            <td>
{foreach from=$item.alias item=alias}
				<input type="text" name="alias[]" value="{$alias}" size="50" style="margin-bottom:5px;" /><br />
{/foreach}
				<input type="text" name="alias[]" value="" size="50" /><br />
			</td>
        </tr>
{if $user->hasRight(6)}
        <tr>
            <th class="th-submit">&nbsp;</th>
            <td>
                <input type="hidden" name="item_id" value="{$item_id}" />
                <input type="submit" name="save" value="{#save#}" />
            </td>
        </tr>
{/if}
    </table>
</form>
